<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online IDE</title>
    <script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js" defer></script> <!-- defer waits untill the html is loaded and the initialises this method-->
    <script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-database-compat.js" defer></script><!-- once fire base database contents are exported then only initialise it using onload method-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="control-panel">
        Select Language:
        &nbsp; &nbsp;
        <select id="languages" class="languages" onchange="changeLanguage()">
            <option value="python"> Python </option>
            <option value="java"> JAVA </option>
        </select>
    </div>
    <div class="editor" id="editor"></div>
    <div class="button-container">
        <button class="btn" onclick="executeCode()"> Run </button>
    </div>
    <div class="output"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/lib/ace.js' %}"></script>
    <script src="{% static 'js/lib/theme-chrome.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>